# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
!public/
**/public/workbox-*.js
**/public/workbox-*.map
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js

# production
/build
/dist

# misc
.DS_Store
.env*
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.build
